.button{
    background-color: $blue;
    border: none;
    color: $white;
    font-weight: bold;
    font-size: $font-size-large;
    padding: $s-size;
        
}
.button--secondary{
    background: #888888
}